[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mysql-connector-python = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
aiosqlite = "*"
pydantic--settings = "*"
ruff = "*"
black = "*"
isort = "*"
pytest = "*"
httpx = "*"
pytest-mock = "*"
sqlalchmey = "*"
databases = {extras = ["asyncpg"], version = "*"}
python-dotenv = "*"
pydantic-settings = "*"
rich = "*"
asgi-correlation-id = "*"
python-json-logger = "*"
logtail-python = "*"
python-jose = "*"
python-multipart = "*"
passlib = {extras = ["brcypt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
