[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mysql-connector-python = "*"
uvicorn = {extras = ["standard"], version = "*"}
ruff = "*"
black = "*"
isort = "*"
pytest = "*"
httpx = "*"
sqlalchemy = "*"
aiosqlite = "*"
python-dotenv = "*"
pydantic--settings = "*"
pydantic-settings = "*"
rich = "*"
asgi-correlation-id = "*"
python-json-logger = "*"
logtail-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
